{% extends 'projects/base.html' %}

{%block page_header %}
  <div class="jumbotron">
    <h1 class="display-3">Easily track your projects</h1>
    
    <p class="lead">Create, and Easily Track IT projects. Learn about what your colleagues are working on
        and the status of tasks. </p>
</div>  

{%endblock page_header %}

{% block content %}
<p>Projects Tracker enables IT teams to easily define and 
    manage their projects  therefore increasing their throughput.</p>
{% endblock content %}